# Case and Alignment

In [1]:
setup = 'a duck goes into a bar...'

In [2]:
setup.strip('.') #drop '.' from setup

'a duck goes into a bar'

In [3]:
setup.capitalize() #Capitalize the first word

'A duck goes into a bar...'

In [4]:
setup.title()  #Capitalize all the words

'A Duck Goes Into A Bar...'

In [5]:
setup.upper() # Convert all characters to uppercase

'A DUCK GOES INTO A BAR...'

In [6]:
setup.lower() # Convert all characters to lowercase

'a duck goes into a bar...'

In [7]:
setup.lower() # Convert all characters to lowercase

'a duck goes into a bar...'

In [8]:
setup.swapcase() # Swap upper- and lowercase

'A DUCK GOES INTO A BAR...'

# Now, we’ll work with some layout alignment functions.

In [9]:
setup.center(30)

'  a duck goes into a bar...   '

In [10]:
setup.ljust(30)

'a duck goes into a bar...     '

In [11]:
setup.rjust(30)

'     a duck goes into a bar...'

<p style="font-family: Arial; font-size:3.75em;color:purple; font-style:bold"><br>Some other data structure of Python</p><br>

<b>These data structure are classified into two categories:
1. Mutable -> Which can be changed
2. Immutable -> which can't be changed

<p style="font-family: Arial; font-size:3.75em;color:purple; font-style:bold"><br>Lists</p><br>
List is just like array in other programming languages, the only difference is list in Python can contain mixed data.<br>
<b>Note: Lists are mutable.

# create list with [] or list()

In [12]:
empty_list = []
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [13]:
print(empty_list)
print(weekdays)

[]
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [14]:
type(empty_list)

list

In [15]:
mixed_list = [1, 2, 3.4, "string"]
mixed_list

[1, 2, 3.4, 'string']

In [16]:
print(type(weekdays))

<class 'list'>

In [17]:
another_empty_list = list()
another_empty_list

[]

# Convert Other Data Types to Lists with list()

In [18]:
list('Python')

['P', 'y', 't', 'h', 'o', 'n']

In [19]:
a_tuple = ('BMW', 'SUV', 'AUDI')
list(a_tuple)

['BMW', 'SUV', 'AUDI']

<b> Split function that we have used earlier return list

In [20]:
splitme = 'a/b//c/d///e'
splitme.split('/')

['a', 'b', '', 'c', 'd', '', '', 'e']

In [21]:
splitme.split('//')

['a/b', 'c/d', '/e']

# Get an Item by Using [ offset ]

In [22]:
fruits = ['Apple', 'Banana', 'Grape', 'Orange']

In [23]:
fruits[0] # returns Apple

'Apple'

In [24]:
fruits[3] # returns Orange

'Orange'

In [25]:
fruits[4] # raise an error "list index out of range error"

IndexError: list index out of range

In [26]:
fruits[-1] # returns Orange

'Orange'

# Lists of Lists

In [27]:
reptiles = ['Snake', 'Crocodile', 'Lizard']
vertibrates = ['Human', 'Camel', 'Elephant']
aquatics = ['Shark', 'snail', 'whale']
all_animals = [reptiles, vertibrates, aquatics]

In [28]:
all_animals

[['Snake', 'Crocodile', 'Lizard'],
 ['Human', 'Camel', 'Elephant'],
 ['Shark', 'snail', 'whale']]

In [29]:
all_animals[0]

['Snake', 'Crocodile', 'Lizard']

In [30]:
all_animals[1]

['Human', 'Camel', 'Elephant']

In [31]:
all_animals[0][2]

'Lizard'

# Change an Item by [ offset ]

In [32]:
cars = ['BMW', 'SUV', 'AUDI', 'Lamborghini']

In [33]:
cars[1] = 'Jaguar'
cars

['BMW', 'Jaguar', 'AUDI', 'Lamborghini']

# Get a Slice to Extract Items by Offset Range

In [34]:
cars[:2]

['BMW', 'Jaguar']

In [35]:
cars[::2]

['BMW', 'AUDI']

In [36]:
cars[::-1]

['Lamborghini', 'AUDI', 'Jaguar', 'BMW']

# Add an Item to the End with append()

In [37]:
cars.append('SUV')
cars

['BMW', 'Jaguar', 'AUDI', 'Lamborghini', 'SUV']

# Combine Lists by Using extend() or +=

In [38]:
all_animals = []
all_animals.extend(reptiles)

In [39]:
all_animals

['Snake', 'Crocodile', 'Lizard']

In [40]:
all_animals.extend(vertibrates)
all_animals

['Snake', 'Crocodile', 'Lizard', 'Human', 'Camel', 'Elephant']

In [41]:
all_animals += aquatics
all_animals

['Snake',
 'Crocodile',
 'Lizard',
 'Human',
 'Camel',
 'Elephant',
 'Shark',
 'snail',
 'whale']

# Add an Item by Offset with insert()

In [42]:
all_animals.insert(5, 'rabbit')
print(all_animals)

['Snake', 'Crocodile', 'Lizard', 'Human', 'Camel', 'rabbit', 'Elephant', 'Shark', 'snail', 'whale']

In [43]:
all_animals.insert(50, 'cobra')
print(all_animals)

['Snake', 'Crocodile', 'Lizard', 'Human', 'Camel', 'rabbit', 'Elephant', 'Shark', 'snail', 'whale', 'cobra']

# Delete an Item by Offset with del

In [44]:
del all_animals[-1]

In [45]:
print(all_animals)

['Snake', 'Crocodile', 'Lizard', 'Human', 'Camel', 'rabbit', 'Elephant', 'Shark', 'snail', 'whale']

In [46]:
del all_animals[0]
print(all_animals)

['Crocodile', 'Lizard', 'Human', 'Camel', 'rabbit', 'Elephant', 'Shark', 'snail', 'whale']

# Delete an Item by Value with remove()

In [47]:
all_animals.remove('Human')
print(all_animals)

['Crocodile', 'Lizard', 'Camel', 'rabbit', 'Elephant', 'Shark', 'snail', 'whale']

In [48]:
all_animals.remove('whale')
print(all_animals)

['Crocodile', 'Lizard', 'Camel', 'rabbit', 'Elephant', 'Shark', 'snail']

In [ ]:
# What happens when we try to remove an element which does not exist in list
all_animals.remove('Cat')   # raises an error

# Get an Item by Offset and Delete It by Using pop()

In [50]:
all_animals.pop() # by default 'pop' delete the element at last index

'snail'

In [51]:
all_animals.pop(-1) # it pops the last element from list

'Shark'

In [52]:
print(all_animals)

['Crocodile', 'Lizard', 'Camel', 'rabbit', 'Elephant']

# Find an Item’s Offset by Value with index()

In [53]:
all_animals.index('Lizard')

1

In [54]:
all_animals.index('Camel')

2

# Test for a Value with in

In [55]:
'Lizard' in all_animals

True

In [56]:
'Elephant' in all_animals

True

In [57]:
'Human' in all_animals

False

# Count Occurrences of a Value by Using count()

In [58]:
all_animals.count('Lizard')

1

In [59]:
all_animals.count('Human')

0

# Convert to a String with join()

In [60]:
word = ['a', 'b', 'r', 'a', 'c', 'a', 'd', 'a', 'b', 'r', 'a']
magic_word = ''.join(word)

In [61]:
print(magic_word)

abracadabra

In [62]:
friends = ['Harry', 'Hermione', 'Ron']
separate = '*'
print(separate.join(friends))

Harry*Hermione*Ron

In [63]:
number = [1, 2, 3, 4, 5] 
print("".join(number))  #join  work with str

TypeError: sequence item 0: expected str instance, int found

# Reorder Items with sort()

The list function sort() sorts the list itself, in place.<br>
The general function sorted() returns a sorted copy of the list.

In [64]:
number = [1, 2, 3, 6, 4, 17, 11, 10, 9]
number.sort()
print(number)

[1, 2, 3, 4, 6, 9, 10, 11, 17]

In [65]:
unsorted = ['dog', 'lion', 'anaconda', 'cobra', 'python']
sorted_list = sorted(unsorted, reverse = True)
print(sorted_list)

['python', 'lion', 'dog', 'cobra', 'anaconda']

In [66]:
unsorted

['dog', 'lion', 'anaconda', 'cobra', 'python']

# Get Length by Using len()

In [67]:
print(len(number))

9

# Assign with =, Copy with copy()

In [68]:
a = [11, 22, 33, 44]
b = a   # both a and b indicate to the same object or list

In [69]:
print(a)
print(b)

[11, 22, 33, 44]
[11, 22, 33, 44]

In [70]:
a[0] = 'changed in a'
print(b)

['changed in a', 22, 33, 44]

In [71]:
b[0] = " Don't change "
print(a)

[" Don't change ", 22, 33, 44]

In [72]:
b = list(a) # Now b indicate to the new object or list which is copy of a
c = a.copy() 
d = a[:]
# b , c, d are copy of 'a', any chnges made in these list doesn't affect 'a'

In [73]:
print("b = ", b)
print("c = ", c)
print("d = ", d)

b =  [" Don't change ", 22, 33, 44]
c =  [" Don't change ", 22, 33, 44]
d =  [" Don't change ", 22, 33, 44]

In [74]:
b[0] = 11
c[0] = 111
d[0] = 1111
print("a = ", a)
print("b = ", b)
print("c = ", c)
print("d = ", d)

a =  [" Don't change ", 22, 33, 44]
b =  [11, 22, 33, 44]
c =  [111, 22, 33, 44]
d =  [1111, 22, 33, 44]

<p style="font-family: Arial; font-size:3.75em;color:purple; font-style:bold"><br>Tuples</p><br>
<b> Tuples are immutable data structure which contain sequence of aritrary items.

# Create a Tuple by Using ()

In [75]:
empty_tuple = ()
empty_tuple

()

<h4>To make a tuple with one or more elements, follow each element with a comma.

In [76]:
citrus = 'lemon',
citrus

('lemon',)

In [77]:
Dry_fruit = 'nut', 'cashew', 'coconut'
Dry_fruit

('nut', 'cashew', 'coconut')

In [78]:
fruit = ('Apple', 'Banana', 'Grape')
fruit

('Apple', 'Banana', 'Grape')

In [79]:
color = ('red', 'green', 'blue')
color

('red', 'green', 'blue')

In [80]:
r, g, b = color # this is called unpacking of tuple

In [81]:
r

'red'

In [82]:
g

'green'

In [83]:
b

'blue'

In [84]:
# we can use tuples to exchange values in one statement without using a temporary variable.
username = 'Ganesh Gaitonde'
passward = 'Kukku'
#tuple_ = (username, passward)
username, passward = passward, username
print(username, passward)

Kukku Ganesh Gaitonde

In [85]:
# we can convert other data structure to tuple by using tuple() function
sacred_games = ['Kukku\'s', 'magic', 'is', '?....']
magic = tuple(sacred_games)

In [86]:
magic

("Kukku's", 'magic', 'is', '?....')

In [87]:
print(' '.join(sacred_games))

Kukku's magic is ?....

<p style="font-family: Arial; font-size:3.75em;color:purple; font-style:bold"><br>Dictionaries</p><br>
A dictionary is similar to a list, but the order of items doesn’t matter, and they aren’t
selected by an offset such as 0 or 1. Instead, we specify a unique key to associate with
each value. This key is often a string, but it can actually be any of Python’s immutable
types: boolean, integer, float, tuple, string.<br>
<b>Dictionaries are mutable, so we can add, delete, and change their key-value elements.

# Create with {}

In [88]:
empty_dict = {}
empty_dict

{}

In [89]:
monuments = {
    'Agra': 'Tajmahal',
    'New Delhi': 'Red Fort',
    'Patna': 'Goal Ghar',
    'Jaipur':'Hawa Mahal',
    'Aurangabad': 'Ajanta and Ellora'
}

In [90]:
monuments

{'Agra': 'Tajmahal',
 'New Delhi': 'Red Fort',
 'Patna': 'Goal Ghar',
 'Jaipur': 'Hawa Mahal',
 'Aurangabad': 'Ajanta and Ellora'}

In [91]:
monuments['Aurangabad']

'Ajanta and Ellora'

# Convert to dictionary by using dict()

In [92]:
a = [['red bull', '2 bottle'], ['black piper', '4 quarter'],['whisky', '3 half'], ['red wine', '1 bottle']] # list should contain only two items
order = dict(a)
print(order)

{'red bull': '2 bottle', 'black piper': '4 quarter', 'whisky': '3 half', 'red wine': '1 bottle'}

In [93]:
#  A list of two-item tuples
HP = [('Harry Potter', 'Lord Voldemort'), ('Ron', 'Hermione Granger'), ('James', 'Lilly Potter')] 
Harry_Potter = dict(HP)
print(Harry_Potter)

{'Harry Potter': 'Lord Voldemort', 'Ron': 'Hermione Granger', 'James': 'Lilly Potter'}

In [94]:
# A tuple of two-item lists
tol = ( ['a', 'b'], ['c', 'd'], ['e', 'f'] )
alpha_pair = dict(tol)
print(alpha_pair)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [95]:
# A list of two-character strings
c = ['ab', 'cd', 'ef', 'gh']
pair = dict(c)
print(pair)

{'a': 'b', 'c': 'd', 'e': 'f', 'g': 'h'}

In [96]:
# A tuple of two-character strings
tos = ( 'ab', 'cd', 'ef' )
dict(tos)

{'a': 'b', 'c': 'd', 'e': 'f'}

In [97]:
# A tuple of two-character strings
tos = ( 'ab', 'cd', 'ef' )
dict(tos)

{'a': 'b', 'c': 'd', 'e': 'f'}

# Add or Change an Item by [ key ]

In [98]:
monuments['New Delhi'] = 'Qutub Minar' # change "New Delhi's" monument from Red Fort to Qutub minar
print(monuments)

{'Agra': 'Tajmahal', 'New Delhi': 'Qutub Minar', 'Patna': 'Goal Ghar', 'Jaipur': 'Hawa Mahal', 'Aurangabad': 'Ajanta and Ellora'}

In [99]:
monuments['Ayodhya'] = 'Ram Mandir' # If key doesn't exist in dictionary then it add to dictionary
print(monuments)

{'Agra': 'Tajmahal', 'New Delhi': 'Qutub Minar', 'Patna': 'Goal Ghar', 'Jaipur': 'Hawa Mahal', 'Aurangabad': 'Ajanta and Ellora', 'Ayodhya': 'Ram Mandir'}

# Combine Dictionaries with update()

In [100]:
others = {'Varansi': 'Ashoka Pillar', 'kerala':'Bekal Fort'}
monuments.update(others)
print(monuments)

{'Agra': 'Tajmahal', 'New Delhi': 'Qutub Minar', 'Patna': 'Goal Ghar', 'Jaipur': 'Hawa Mahal', 'Aurangabad': 'Ajanta and Ellora', 'Ayodhya': 'Ram Mandir', 'Varansi': 'Ashoka Pillar', 'kerala': 'Bekal Fort'}

In [101]:
monuments["other"] = others
print(monuments)

{'Agra': 'Tajmahal', 'New Delhi': 'Qutub Minar', 'Patna': 'Goal Ghar', 'Jaipur': 'Hawa Mahal', 'Aurangabad': 'Ajanta and Ellora', 'Ayodhya': 'Ram Mandir', 'Varansi': 'Ashoka Pillar', 'kerala': 'Bekal Fort', 'other': {'Varansi': 'Ashoka Pillar', 'kerala': 'Bekal Fort'}}

In [102]:
# What happens if the second dictionary has the same key as the dictionary into which it’s being merged? 
#The value from the second dictionary wins
first = {1: 'a', 2: 'b', 3: 'c'}
second = {3: 'd', 4:'e', 5:'f'}
first.update(second)
print(first)

{1: 'a', 2: 'b', 3: 'd', 4: 'e', 5: 'f'}

# Delete an Item by Key with del

In [103]:
del first[1]
first

{2: 'b', 3: 'd', 4: 'e', 5: 'f'}

In [104]:
del first[5] 
print(first)

{2: 'b', 3: 'd', 4: 'e'}

# Delete All Items by Using clear()

In [105]:
first.clear()
first

{}

# Test for a Key by Using in

In [106]:
'New Delhi' in monuments

True

In [107]:
'Varansi' in  monuments

True

In [108]:
'London' in monuments

False

# Get an Item by [ key ]

In [109]:
monuments['Patna']

'Goal Ghar'

In [110]:
monuments['Ayodhya']

'Ram Mandir'

In [111]:
# What happends when key doesn't exist in dictionary
monuments['London']  # KeyError

KeyError: 'London'

In [112]:
# To avoid this error use get function
# Get function takes an optional parameter and return that value if key doesn't exist in dictionary
monuments.get('Varansi')

'Ashoka Pillar'

In [113]:
monuments.get('London', 'key not in dictionary')

'key not in dictionary'

In [114]:
monuments

{'Agra': 'Tajmahal',
 'New Delhi': 'Qutub Minar',
 'Patna': 'Goal Ghar',
 'Jaipur': 'Hawa Mahal',
 'Aurangabad': 'Ajanta and Ellora',
 'Ayodhya': 'Ram Mandir',
 'Varansi': 'Ashoka Pillar',
 'kerala': 'Bekal Fort',
 'other': {'Varansi': 'Ashoka Pillar', 'kerala': 'Bekal Fort'}}

# Get All Keys by Using keys()

In [115]:
monuments.keys()

dict_keys(['Agra', 'New Delhi', 'Patna', 'Jaipur', 'Aurangabad', 'Ayodhya', 'Varansi', 'kerala', 'other'])

# Get All Values by Using values()

In [116]:
monuments.values()

dict_values(['Tajmahal', 'Qutub Minar', 'Goal Ghar', 'Hawa Mahal', 'Ajanta and Ellora', 'Ram Mandir', 'Ashoka Pillar', 'Bekal Fort', {'Varansi': 'Ashoka Pillar', 'kerala': 'Bekal Fort'}])

# Get All Key-Value Pairs by Using items()

In [117]:
monuments.items()

dict_items([('Agra', 'Tajmahal'), ('New Delhi', 'Qutub Minar'), ('Patna', 'Goal Ghar'), ('Jaipur', 'Hawa Mahal'), ('Aurangabad', 'Ajanta and Ellora'), ('Ayodhya', 'Ram Mandir'), ('Varansi', 'Ashoka Pillar'), ('kerala', 'Bekal Fort'), ('other', {'Varansi': 'Ashoka Pillar', 'kerala': 'Bekal Fort'})])

# Assign with =, Copy with copy()

In [118]:
signals = {'green': 'go', 'yellow': 'go faster', 'red': 'smile for the camera'}

In [119]:
save_signals = signals

In [120]:
signals['blue'] = 'confuse everyone'

In [121]:
signals = {'green': 'go', 'yellow': 'go faster', 'red': 'smile for the camera'}
original_signals = signals.copy()

In [122]:
signals['blue'] = 'confuse everyone'

In [123]:
original_signals

{'green': 'go', 'yellow': 'go faster', 'red': 'smile for the camera'}

<p style="font-family: Arial; font-size:3.75em;color:purple; font-style:bold"><br>Sets</p><br>
Sets are data structure which conatin unique values.

# Create with set()
To create a set, we use the set() function or enclose one or more comma-separated values in curly brackets.

In [124]:
empty_set = set()

In [125]:
empty_set

set()

In [126]:
even_set = {2, 4, 6, 8}
even_set

{2, 4, 6, 8}

In [127]:
odd_set = {1, 3, 5, 7, 9}
odd_set

{1, 3, 5, 7, 9}

# Convert from Other Data Types with set()

In [128]:
a = [1, 2, 3, 4, 4, 5]
set_a = set(a)
print(set_a)

{1, 2, 3, 4, 5}

In [129]:
set('letter')

{'e', 'l', 'r', 't'}

In [130]:
set( ['Dasher', 'Dancer', 'Prancer', 'Mason-Dixon'] ) # set from list

{'Dancer', 'Dasher', 'Mason-Dixon', 'Prancer'}

In [131]:
set( ('Ummagumma', 'Echoes', 'Atom Heart Mother') ) # set from tuple

{'Atom Heart Mother', 'Echoes', 'Ummagumma'}

In [132]:
set( {'apple': 'red', 'orange': 'orange', 'cherry': 'red'} ) # set from dictionary

{'apple', 'cherry', 'orange'}

# Test for Value by Using in

In [133]:
4 in set_a

True

In [134]:
9 in set_a

False

# Adding element to set by using add()

In [135]:
set_a.add(6)

In [136]:
set_a

{1, 2, 3, 4, 5, 6}

# Removing element from set by using remove()

In [137]:
set_a.remove(3)

In [138]:
set_a

{1, 2, 4, 5, 6}

# Set Operations

In [139]:
# Union
a = {1, 2, 3}
b = {3, 4, 5}
print(a | b)
print(a.union(b))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [140]:
# intersection
print(a & b)
print(a.intersection(b))

{3}
{3}

In [141]:
# set difference
print(a.difference(b))

{1, 2}

In [142]:
print(b.difference(a))

{4, 5}

In [143]:
# exclusive or           element in either a or b
print(a^b)
print(a.symmetric_difference(b))

{1, 2, 4, 5}
{1, 2, 4, 5}

In [144]:
# check for subset
print(a <= b)
print(a.issubset(b))

False
False

In [145]:
# check for superset
#A superset is the opposite of a subset (all members of the second set are also members of the first). 
print(a >= b)
print(a.issuperset(b))

False
False

In [146]:
print(a.issuperset(a))

True

In [147]:
# And finally, we can find a proper superset (the first set has all members of the second and more) by using >:
print(a > b)

False

<p style="font-family: Arial; font-size:3.75em;color:purple; font-style:bold"><br>Code Structures</p><br>

<h1> Comment with #

In [148]:
# total seconds in a day
seconds_per_day = 24*60*60
seconds_per_day

86400

# Continue Lines with \

In [150]:
a = 2 + 3 * 57 / 67 *64 +   \
     45 * 3 + 29
print(a)

329.34328358208955

In [152]:
alphabet = 'abcdefgh' + \
'ijklmno' + \
'pqrst' + \
'uvwxyz'

In [153]:
print(alphabet)

abcdefghijklmnopqrstuvwxyz

# Compare with if, elif, and else

In [154]:
a = int(input("Enter an Interger"))
if a > 0:
    print("You have entered positive number.")
elif a < 0:
    print("You have entered negative number.")
else:
    print("You have entered Zero.")

Enter an Intergerjknj

ValueError: invalid literal for int() with base 10: 'jknj'

# Comparision Operators in Python
equal to                 == <br>
inequality                 != <br>
less than                  <  <br>
less than or equal         <= <br>
greater than               >  <br>
greater than or equal      >= <br>
membership   in …

In [155]:
x = 7

In [156]:
x == 8

False

In [157]:
x <= 10

True

In [158]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
x in a

True

<b>If we need to make multiple comparisons at the same time, we use the boolean operators 'and', 'or', and 'not' to determine the final boolean result.

In [159]:
5 < x and x < 10

True

In [160]:
5 < x or x < 10

True

In [161]:
5 < x and not x > 10

True

In [162]:
# If you’re and-ing multiple comparisons with one variable, Python lets you do this
5 < x < 10

True

In [163]:
5 < x < 10 < 999

True

# Repeat with while

In [164]:
x = 0
while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

# Cancel with break

In [165]:
while x < 20:
    if x == 15:
        break
    else: 
        print(x)
        x += 1

10
11
12
13
14

# Skip Ahead with continue

In [166]:
while True:
    value = input("Integer, please [q to quit]: ")
    if value == 'q': # quit
        break
    number = int(value)
    if number % 2 == 0: # an even number
        continue
    print(number, "squared is", number*number)

Integer, please [q to quit]: q

# Iterate with for

In [167]:
for i in range(10):
    print(i, "Squared is", i*i)

0 Squared is 0
1 Squared is 1
2 Squared is 4
3 Squared is 9
4 Squared is 16
5 Squared is 25
6 Squared is 36
7 Squared is 49
8 Squared is 64
9 Squared is 81

In [168]:
weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
for day in weekdays:
    print(day)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [169]:
alphabets = 'abcdefghijklmnopqrstuvwxyz'
for letter in alphabets:
    print(letter,end='*')

a*b*c*d*e*f*g*h*i*j*k*l*m*n*o*p*q*r*s*t*u*v*w*x*y*z*

# Iterate Multiple Sequences with zip()

In [170]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

In [171]:
for day, fruit, drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ": drink", drink, "- eat", fruit, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [172]:
number = list(range(11))
square = [i*i for i in range(11)]
for num, squa in zip(number, square):
    print(num, " Squared is ", squa)

0  Squared is  0
1  Squared is  1
2  Squared is  4
3  Squared is  9
4  Squared is  16
5  Squared is  25
6  Squared is  36
7  Squared is  49
8  Squared is  64
9  Squared is  81
10  Squared is  100

In [173]:
even = [i for i in range(100) if i%2 == 0]
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [174]:
jumble = 'bcuopjudbkjzxncopadqwufewyfcsjadkqwudqwgchbcjncoiajcshvsfweusvcsj'
letter_count = {}
for letter in jumble:
    if not letter_count.get(letter,None):
        letter_count[letter] = 1
    else:
        letter_count[letter] += 1
print(letter_count)

{'b': 3, 'c': 8, 'u': 5, 'o': 3, 'p': 2, 'j': 6, 'd': 4, 'k': 2, 'z': 1, 'x': 1, 'n': 2, 'a': 3, 'q': 3, 'w': 5, 'f': 3, 'e': 2, 'y': 1, 's': 5, 'g': 1, 'h': 2, 'i': 1, 'v': 2}

In [175]:
letter_counts = {letter: jumble.count(letter) for letter in jumble}
print(letter_counts)

{'b': 3, 'c': 8, 'u': 5, 'o': 3, 'p': 2, 'j': 6, 'd': 4, 'k': 2, 'z': 1, 'x': 1, 'n': 2, 'a': 3, 'q': 3, 'w': 5, 'f': 3, 'e': 2, 'y': 1, 's': 5, 'g': 1, 'h': 2, 'i': 1, 'v': 2}

In [176]:
letter_counts = {letter: jumble.count(letter) for letter in set(jumble)}

In [177]:
print(letter_counts)

{'f': 3, 'o': 3, 'b': 3, 'x': 1, 'g': 1, 'q': 3, 'y': 1, 'c': 8, 'i': 1, 'a': 3, 'u': 5, 'j': 6, 's': 5, 'd': 4, 'h': 2, 'e': 2, 'n': 2, 'p': 2, 'v': 2, 'w': 5, 'z': 1, 'k': 2}

<p style="font-family: Arial; font-size:3.75em;color:purple; font-style:bold"><br>Function</p><br>
Function is a way to increase code reusability. A Programmer can use a function as much times he wants.<br>
In Python, A function can take any number and type of input parameters and return any number and type of output results.

To define a Python function, we type def, the function name, parentheses enclosing
any input parameters to the function, and then finally, a colon (:). Function names have
the same rules as variable names (they must start with a letter or _ and contain only
letters, numbers, or _).

In [178]:
def even_number(lst):
    even = [num for num in lst if num % 2 == 0]
    return even

In [179]:
print(even_number(list(range(21))))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [180]:
def default_check(a):
    print(a)

In [181]:
default_check("rahul")

rahul

In [184]:
def variable_no_of_arg(*arg):
    print(arg)

In [185]:
variable_no_of_arg((1, 2, 3, 4))

((1, 2, 3, 4),)

In [186]:
variable_no_of_arg(1,2,3, 5)

(1, 2, 3, 5)

In [188]:
def default(a = 10, b=20):
    print(a,b)

In [189]:
default()

10 20

In [190]:
def dict_default(**kwarg):
    print(kwarg)

In [197]:
dict_default(wine='merlot', entree='mutton', dessert='macaroon')

{'wine': 'merlot', 'entree': 'mutton', 'dessert': 'macaroon'}

In [198]:
dict_default(1='merlot', 2='mutton', 3='macaroon') # Keyword can't be an expression

SyntaxError: keyword can't be an expression (<ipython-input-198-e80fce5e0928>, line 1)

In [193]:
#range(start:end:step)
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [194]:
def is_palindrome(word):
    return word == word[::-1]

In [195]:
is_palindrome('123454321')

True

In [196]:
def dict_(a):
    b = {
    1:"one",
    2:"two"
   }
    return b.get(a,"Number is greater than 9")